parameters:
    level: max
    paths:
        - src
    excludes_analyse:
        - */node_modules/*
        - */bower_components/*
        - */static/*
    ignoreErrors:
        - '#call_user_func expects callable\(\)#'
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
