parameters:
    level: 8
    paths:
        - src
    excludes_analyse:
        - */node_modules/*
        - */bower_components/*
        - */static/*
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        - '#call_user_func expects callable\(\)#'
    reportUnmatchedIgnoredErrors: false
